html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.App {
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

.mainPage {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.loading {
  height: 100vh;
  background: url("./media/wall-texture.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;

}